<html>
	<head>
		<link><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	</head>
	<body>
		<div class="jumbotron">
		<div class="container">
			<h1>This is the part where I give my shoutouts to the people that has helped me get this far in my first adventures with coding.</h1>
			<p>First shoutout goes to the lovely folks at <a href="https://onemonth.com/">One Month Python</a>. First starting with Chris thank you for taking the time to meet with your students to ask us for our feedback for improving the already awesome One Month experience. Sidenote: I highly disagree with that angry Redditor that tried to sully the One Month Brand for the rest of us that enjoyed it.(P.S.Seriously dude, with a username like that I could hardly take anything that was posted for its worth)
			</p>
				<p> Thank you Mattan for the wonderful videos, you gave us a great variety to gain experience from. Your voice was nice and soothing to listen to. This in itself was a great bonus considering that I needed to replay the videos often.(P.S please considered singing a string of code as a bonus lesson!)
				</p>
					<p> Thank you Nick for being an attentive T.A. and for reaching out to see if I needed help. Sorry for never being able to attend any of the office hours,I promise I wasnt trying to dodge em! However you provided me will ample help replying to my Slacks. (P.S dude seriouly you are lightening fast with replying to messages.)
					</p>
						<p> Special shoutout to <a href="https://www.yelp.com/developers/documentation/v2/overview">Yelp Fusion</a> because I wasnt able to attain an API key from you guys it helped me get creative and find a alternatives to finishing this last assignment. Thank you to the <a href="https://github.com/slimkrazy/python-google-places">Google PLaces API</a> this assignment couldn't have been without you.(P.S. I still have no clue what Yelp Fusion is ... and no I refuse to read your extensive and confusing documentation on it!)					
						</p>
							<p> Last shoutout goes to my boyfriend Johnny. Thank you encouraging me through this and keeping my hydrated during my assignments you are the best water boy ever.
							</p>
			<a href="{{ url_for('index') }}">Back to homepage</a>
				<a href="{{ url_for('about') }}">About this project</a>
		</div>
		</div>	
	</body>
</html>